{% extends "layout.html" %}

{% block content %}


<h2 style="color:deeppink ">

    Project explanation page:

</h2>
<h3>
    My project is about rehabilitating polluted land,
    I worked on the project during school lessons and a lot at home.
    It was interesting to do the project because I learned more about the Flask page and how it works, I understood more about how to design a beautiful project
    (With colors, equal size and more).
    I used Google in w3schools which helped me find a template for table, colors, equal sizes,
    Bold title and secondary title.
</h3>

<p>Use this area to provide additional information.</p>

{% endblock %}

